/*---------- General Styling ----------*/
* {
-webkit-box-sizing: border-box; 
 -moz-box-sizing: border-box; 
      box-sizing: border-box;

}

html {
  height: 100%;
  width: 100%;
}

body {
  color: #53585f;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 100%;
  line-height: 1.2;
  margin: auto;
  position: relative;
  width: 100%;
}

header {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.hidden {
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: -9999px;
}

.anchor-tag{
  text-decoration: none !important;
}

.map {
  margin: 25px 0;
}


/*---------- Typography ----------*/
h1 {
  font-size: 32pt;
}

h2 {
  color: #063d78;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 5%;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 3%;
  margin: 0;
}

p {
  margin-top: 18px;
}

p:first-child {
  margin-top: 0;
}

a {
  color: #1a9ce1;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
  float: left;
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
}



/*---------- Icons ----------*/
@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot?-7ue3mz');
  src:url('/fonts/icomoon.eot?#iefix-7ue3mz') format('embedded-opentype'),
    url('/fonts/icomoon.woff?-7ue3mz') format('woff'),
    url('/fonts/icomoon.ttf?-7ue3mz') format('truetype'),
    url('/fonts/icomoon.svg?-7ue3mz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e600";
}




/*---------- Grid/Layout ----------*/
.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  *zoom: 1;
}

.col {
  display: block;
  float:left;
  margin: 1% 0;
  padding: 0 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


.span-one-of-five { width: 20%; }

.span-two-of-five { width: 40%; }

.span-three-of-five { width: 60%; }

.span-four-of-five { width: 80%; }

.span-five-of-five { width: 100%; }

.half { width: 50%; }

.one-third { width: 33.333%; }

.two-thirds { width: 66.667%; }




/*---------- Form Elements ----------*/
.form {
  position: relative;
}

.form fieldset {
  border: none;
  padding: 25px 0;
}

.form legend {
  border: none;
}

.form .input-wrapper {
  margin-bottom: 10px;
}

.form input {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; 
}

.form .form-label {
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding-top: 0;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #DDDFDE;
  height: 50px;
  padding: 0 10px;
  width: 100%;
  margin: 10px 0;
}

.form textarea {
  height: auto;
  width: auto;
}

::-webkit-input-placeholder { font-weight: light; font-style: italic; }
:-moz-placeholder { font-weight: light; font-style: italic; }
::-moz-placeholder { font-weight: light; font-style: italic; }
:-ms-input-placeholder { font-weight: light; font-style: italic; }

.form input[type="submit"],
.form button[type="button"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  background: #f2a930;
  border: none;
  color: #fff;
  float: right;
  height: 50px;
  text-transform: uppercase;
  width: 160px;
}

.form input[type="submit"]:hover,
.form button[type="button"]:hover {
  background: #fff;
  border: 2px solid #f2a930;
  color: #f2a930;
}




/*---------- Main Page Stylings ----------*/
.top-header {
  height: 15%;
  padding: 30px 20px 20px;
  position: relative;
  margin: auto;
  max-width: 1000px;
  min-height: 150px;
}

.boston_seal {
  display: inline-block;
}

.boston_seal:hover {
  border-bottom: none;
}

.main-nav { 
  font-size: 24px;
  position: absolute;
  top: 80px;
  right: 40px;
  text-transform: uppercase;
}

.head-content {
  height: 100%;
  overflow: hidden;
}

.home {
  background: url('/images/Boston-skyline.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 85%;
  min-height: 330px;
  position: relative;
}

.header-wrapper {
  opacity: .8;
  margin: auto;
  max-width: 1000px;
  padding: 50px;
  position: relative;
}

.header-wrapper label {
  display: inline-block;
}

.header-wrapper select,
.header-wrapper input[type="text"] {
  width: 200px !important;
  height: 30px;
}

.content-header {
  background: #d3e9fa;
  height: 100%;
}

.content-header h1,
.content-header h3,
.content-header .form {
  background: #fff;
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  width: auto;
}

.content-header .form label {
  padding-right: 10px;
}

.content-header .search-field input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-bottom: 1px solid #000;
}

.short .main-nav{
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
}

.short .main-nav li{
  margin-left: 30px;
}

.short .form-wrapper {
  display: inline-block;
  float: right;
  margin-top: 1em;
}

.short .form {
  height: 100%;
}

.short .form label {
  display: inline-block;
}

.content-header.short {
  
}

.section {
  display: block;
  padding: 10px 25px;
}

.section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.section-wrapper {
  margin: 20px auto;
  max-width: 1000px;
  position: relative;
}


/*---- Top Actions ----*/
.top-actions {
  background: #FFFFFF;
}

.action-nav {
  background: #d3e9fa;
  height: 400px;
  padding: 0;
  position: relative;
}

.action-item {
  border-top: 1px solid #CAD1D3;
  cursor: pointer;
  float: none;
  height: 100px;
  margin: 0 25px 0 0;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
  line-height: 100px;
  width: 100%;
}

.action-item:first-child {
  border-top: 0;
}

.action-item:hover {
  color: #1a9ce1;
}

.action-item.selected {
  background: #1a9ce1;
  border-left: none;
  color: #fff;
}

.action-item.selected:after {
  content: " ";
  border-top: 50px solid transparent;
  border-right: 50px solid #f1f1f1;
  border-bottom: 50px solid transparent;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}

.action-content-wrapper {
  background: #F1F1F1;
  height: 400px;
  padding: 0;
}

.action-content {
  display: none;
  height: 100%;
}

.border-bottom {
  display: block;
  float: left;
  padding: 0 25px;
  position: relative;
  height: 100px;
}

.quicklink {
  border-bottom: 1px dotted #CAD1D3;
  display: table;
  height: 100%;
  margin: 0;
  padding: 0 20px;
  width: 100%;
}

.noborder {
  border-bottom: 0;
}

.quicklink a {
  display: table-cell;
  vertical-align: middle;
}

.border-bottom:hover {
  background: #f2a930;
}

.border-bottom.left:hover:before {
  content: " ";
  border-top: 50px solid transparent;
  border-right: 50px solid #f2a930;
  border-bottom: 50px solid transparent;
  height: 0;
  position: absolute;
  left: -50px;
  
  width: 0;
}

.quicklink:hover a {
  color: #fff;
  text-decoration: none;
}

.action-content.form {
  padding: 20px 40px;
  height: 100%;
}

.action-content h3 {
  color: #1a9ce1;
  margin: 0;
}

.action-content.form p {
  font-size: 16px;
  margin: 15px 0 20px;
}

.action-content .input-wrapper {
  margin: 15px 0 0;
}

.shown {
  display: block;
}


/*---- Services and Info ----*/
.services-info {
  background: #5A91C2;
}

.services-info a {
  color: #000;
}

.services-info a:hover {
  text-decoration: none;
}

.services-info figure {
  background: #fff;
  position: relative;
}

.services-info img {
  width: 100%;
}

.services-info figcaption {
  height: 60px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

.services-info p { 
  font-size: 14px;
  margin: 0;
}

.services-info h3 { 
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50px;
  text-align: center;
  text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff;
  text-transform: uppercase;
}



/*---- Social Media ----*/
.download-app {
  text-align: center;
}

.download-app h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
}

.download-app .section-wrapper {
  border-bottom: 2px solid #CAD1D3;
  border-top: 2px solid #CAD1D3;
  padding: 40px 0;
}

.media-wrapper {
  border: 2px solid #A6AAA9;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  color: #838588;
  font-size: 24px;
  float: left;
  height: 80px;
  margin: 0 5%;
  padding: 5px 0;
}

.media-wrapper:hover {
  background: #d3e9fa;
  border-bottom: 2px solid #A6AAA9;
}

.media-wrapper img {
  max-height: 100%;
  max-width: 100%;
}

.media-wrapper p {
  display: inline-block;
  line-height: 70px;
  margin: 0;
  padding-left: 5px;
  vertical-align: top;
}

.social-media {
  background: #d3e9fa;
  text-align: center; 
  padding-bottom: 40px;
}

.tweet-wrapper {
  display: block;
  margin: 15px auto;
  position: relative;
  text-align: left; 
}


/*---------- Footer Stylings ----------*/
.footer {
  background: #063d78;
  border-top: 7px solid #f2a930;
  color: #fff;
  padding: 20px 0 0;
}

.up-wrapper {
  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #525860;
  cursor: pointer;
  display: block;
  height: 60px;
  margin: -50px auto 0;
  padding:5px 0;
  position: relative; 
  text-align: center;
  width: 60px;
}

.icon-arrow-up {
  display: block;
  margin: 5px 0 0;
}

.up-wrapper a {
  border-bottom: none !important;
  color: #525860 !important;
  display: block;
}

.up-wrapper:hover {
  background: #f2a930; 
}

.up-wrapper:hover,
.up-wrapper:hover a {
  color: #fff !important;
  text-decoration: none;
}

.footer .section-wrapper { 
  margin-top: 0;
  padding: 40px 0 10px; 
}

.footer a {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-weight: bold;
}

.footer a:hover {
  border-bottom-color: #1a9ce1;
  color: #1a9ce1;
}

.footer p {
  margin: 0;
}

.footer-section {
  margin-bottom: 30px;
}

.cityofboston { float: right; }

.label {
  text-transform: uppercase;
  font-weight: bold;
}

.bottom-footer .section-wrapper{
  border-top: 1px solid #41648C;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 0;
}

/*---------- Tracking Page Stylings ----------*/
.tracking-content {
  padding: 20px 0;
}

.tracking-content li {
  float: none;
}

.tracking-content h2{
  font-size: 20px;
}

.tracking-content .variable-info {
  color: #53585f;
  font-size: 18px;
  font-weight: bold;
  padding-left: 15px;
  text-transform: none;
}

.my-info { margin-bottom: 40px; }

.note {
  font-style: italic;
}


/*---------- Services and Info Page Stylings ----------*/
.services-content {
  background: #fff;
  display: inline-block;
  width: 100%;
}

.services-content .table-of-contents {
  border: 2px solid #ebebeb;
  padding: 10px;
}

.services-content .table-of-contents li {
  float: none;
  padding-left: 10px;
}

.services-content .table-of-contents li li {
  font-size: 16px;
  margin-left: 10px;
  position: relative;
}

.services-content .table-of-contents li li:before {
  content: " - ";
  position: absolute;
  left: 0;
}

.service-section .links li {
  float: none;
}

.services-info.all-text {
  background: #CFE9FB;
  padding-bottom: 40px;
}

.services-info.all-text h3 {
  border-top: 1px dotted #CAD1D3;
  color: #525860;
  margin: 0;
  padding: 20px 0;
  position: relative;
  top: 0;
  text-align: left;
  text-shadow: none;
}

.services-info.all-text li:nth-child(-n+3) h3 {
  border: none;
}

.services-info.all-text li {
  margin: 0;
  padding: 0 20px;
  height: 70px;
}

.services-info.all-text li:hover a {
  color: #1a9ce1;
}

.service-section {
  margin-top: 40px;
}

.service-section:first-child {
  margin-top: 0px;
}

.service-section h2{
  margin-bottom: 15px;
}

.service-section h3{
  color: #063D78;
  font-weight: 600;
  text-transform: none;
}

.service-section p{
  margin-top: 5px;
}

.services-details {

  margin-bottom: 30px;
  padding-left: 20px;
}

.links {
  margin-bottom: 40px;
}

.links li{
  margin: 5px 0px;
  line-height: 1.2;
}


/*---------- Services form Stylings ----------*/

.main-form {
  margin: 40px auto;
}

.main-form .form-label,
.main-form select {
  float: left;
}

.main-form input[type="text"],
.main-form input[type="email"],
.main-form input[type="tel"] {
  width: 60%;
}

.main-form select { margin-left: 10px;}

.main-form input[type="submit"] {
  float: none;
}

.main-form button[type="button"] { 
  float: none;
  padding: 0 20px;
  position: relative;
  width: auto;
}

.personal-info fieldset {
  padding-bottom: 40px;
}

.personal-info legend {
  cursor: pointer;
  display: block;
  font-weight: 600;
  top: 24px;
  position: relative;
}

.personal-info .form-label {
  background: #CFE9FB;
  height: 50px;
  line-height: 50px;
  margin: 10px 0;
  padding: 0 10px;
  text-align: right;
  width: 10%;
}

.personal-info input[type="text"],
.personal-info input[type="email"],
.personal-info input[type="tel"] {
  float: left;
  width: 50%;
}

.report {
  margin-top: 20px; 
}

.report .form-label.upload {
  float: none;
  position: relative;
  margin-bottom: 10px;
}


.radios .form-label {
  float: none;
  position: relative;
  top: 20px;
}

.or-wrapper {
  display: inline-block;
  height: 38px;
  margin: 20px 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.horizontal-line {
  display: block;
  position: absolute;
  top: 12px;
  width: 100%;
  z-index: -1;
}

.or-wrapper h2 {
  background: #fff;
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center; 
  width:50px;
}

.dob { padding: 0 !important; }

.dob .form-label { 
  position: relative;
  top: 20px; 
}

.dob input[type="text"] {
  width: 100px;
}

.dob h3 { display: inline-block; line-height: 100px}

