/*---------- General Styling ----------*/
* {
-webkit-box-sizing: border-box; 
 -moz-box-sizing: border-box; 
      box-sizing: border-box;

}

html {
  height: 100%;
  width: 100%;
}

body {
  color: #53585f;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 100%;
  line-height: 1.2;
  margin: auto;
  position: relative;
  width: 100%;
}

header {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.hidden {
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: -9999px;
}

.anchor-tag{
  text-decoration: none !important;
}

.map {
  margin: 25px 0 40px;
}


/*---------- Typography ----------*/
h1 {
  font-size: 32pt;
}

h2 {
  color: #063d78;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 5%;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 3%;
  margin: 0;
}

p {
  margin-top: 18px;
}

p:first-child {
  margin-top: 0;
}

a {
  color: #1a9ce1;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
  float: left;
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
}



/*---------- Icons ----------*/
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-l8cihb');
  src:url('../fonts/icomoon.eot?#iefix-l8cihb') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-l8cihb') format('woff'),
    url('../fonts/icomoon.ttf?-l8cihb') format('truetype'),
    url('../fonts/icomoon.svg?-l8cihb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e600";
}
.icon-arrow-down:before {
  content: "\e610";
}
.icon-dash:before {
  content: "\e115";
}
.icon-menu:before {
  content: "\e120";
}
.icon-twitter:before {
  content: "\e601";
}





/*---------- Grid/Layout ----------*/
.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  *zoom: 1;
}

.col {
  display: block;
  float:left;
  margin: 1% 0;
  padding: 0 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


.span-one-of-five { width: 20%; }

.span-two-of-five { width: 40%; }

.span-three-of-five { width: 60%; }

.span-four-of-five { width: 80%; }

.span-five-of-five { width: 100%; }

.half { width: 50%; }

.one-third { width: 33.333%; }

.two-thirds { width: 66.667%; }




/*---------- Form Elements ----------*/
.form {
  position: relative;
}

.form fieldset {
  border: none;
  padding: 25px 0;
}

.form legend {
  border: none;
}

fieldset legend.form-label {
  display: block;
  font-weight: 600;
  top: 20px;
  position: relative;
}

.form .input-wrapper {
  margin-bottom: 10px;
}

.form input {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; 
}

.form label { cursor: pointer; }

.form .form-label {
  display: block;
  font-weight: 600;
  padding-top: 0;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #DDDFDE;
  height: 50px;
  padding: 0 10px;
  width: 100%;
  margin: 10px 0;
}

.form textarea {
  height: auto;
  width: auto;
}

::-webkit-input-placeholder { font-weight: light; font-style: italic; }
:-moz-placeholder { font-weight: light; font-style: italic; }
::-moz-placeholder { font-weight: light; font-style: italic; }
:-ms-input-placeholder { font-weight: light; font-style: italic; }

.form input[type="submit"],
.form button[type="button"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  background: #f2a930;
  border: 2px solid transparent;
  color: #fff;
  float: right;
  height: 50px;
  text-transform: uppercase;
  min-width: 160px;
}

.fileUpload {
  background: #f2a930;
  border: 2px solid transparent;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 100px;
  text-align: center;
}

input#uploadFile {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #DDDFDE;
  float: left;
  height: 50px;
  padding: 0 10px;
}

.fileUpload input.upload {
  float: left;
  width: 100%;
  margin: 10px 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.fileUpload:hover {
  background: #c9820d;
  border: 2px solid #f2a930;
}

.form input[type="button"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  background: #fff;
  border: 2px solid #f2a930;
  color: #f2a930;
  float: left;
  height: 50px;
  margin-right: 15px;
  padding: 0 10px;
  text-transform: uppercase;
  min-width: 160px;
}

.form input[type="submit"]:hover,
.form button[type="button"]:hover {
  background: #c9820d;
  border: 2px solid #f2a930;
}

.form input[type="button"]:hover {
  background: #ebebeb;
  border-color: #c9820d;
  color: #c9820d;
} 

.form .select-wrapper {
  border: 1px solid #DDDFDE;
  display: block;
  float: left;  
  height: 50px;
  margin: 10px 0 10px 15px;
  position: relative;
  width: 34%;
}

.form .selection {
  height: 100%;
  padding: 10px;
  line-height: 30px;
}

.form .dropdown {
  border-left: 1px solid #DDDFDE;
  padding-left: 10px;
  position: absolute;
  right: 10px;
  line-height: 30px;
}

.form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.form select:focus {
  border-color: #0096b2;
  outline: 1px dotted #f1f5f9;
}

.form .show-report {
  margin-bottom: 40px;
}




/*---------- Main Page Stylings ----------*/
.top-header {
  height: 15%;
  padding: 30px 20px 20px;
  position: relative;
  margin: auto;
  max-width: 1000px;
  min-height: 150px;
}

.boston_seal {
  display: inline-block;
}

.boston_seal:hover {
  border-bottom: none;
}

.main-nav { 
  font-size: 24px;
  position: absolute;
  top: 80px;
  right: 40px;
  text-transform: uppercase;
}

.head-content {
  height: 100%;
  overflow: hidden;
}

.home {
  background: url('../images/Boston-skyline.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 85%;
  min-height: 330px;
  position: relative;
}

.header-wrapper {
  opacity: .8;
  margin: auto;
  max-width: 1000px;
  padding: 50px;
  position: relative;
}

.header-wrapper label {
  display: inline-block;
}

.header-wrapper select,
.header-wrapper input[type="text"] {
  width: 200px !important;
  height: 30px;
}

.content-header {
  background: #d3e9fa;
  height: 100%;
}

.content-header h1,
.content-header h3,
.content-header .form {
  background: #fff;
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  width: auto;
}

.content-header .form label {
  padding-right: 10px;
}

.content-header .search-field input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-bottom: 1px solid #000;
}

.short .main-nav{
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
}

.short .main-nav li{
  margin-left: 30px;
}

.short .form-wrapper {
  display: inline-block;
  float: right;
  margin-top: 1em;
}

.short .form {
  height: 100%;
}

.short .form label {
  display: inline-block;
}

.content-header.short {
  
}

.section {
  display: block;
  padding: 10px 25px;
}

.section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.section-wrapper {
  margin: 20px auto;
  max-width: 1000px;
  position: relative;
}


/*---- Top Actions ----*/
.top-actions {
  background: #FFFFFF;
  position: relative;
}

.action-nav {
  background: #d3e9fa;
  height: 400px;
  padding: 0;
  position: relative;
}

.action-nav li {
  margin: 0;
}

.action-item {
  border-top: 1px solid #CAD1D3;
  cursor: pointer;
  float: left;
  height: 100px;
  margin: 0;
  padding: 0 15px;
  position: absolute;
  text-transform: uppercase;
  line-height: 100px;
}
#pay .action-item { left: 0; top: 0; }

#report .action-item { left: 0; top: 100px; }

#request .action-item{ left: 0; top: 200px; }

#track .action-item { left: 0; top: 300px; }
  

.action-item:hover {
  color: #1a9ce1;
}

.action-item.selected {
  background: #1a9ce1;
  border-left: none;
  color: #fff;
}

.action-item.selected:after {
  content: " ";
  border-top: 50px solid transparent;
  border-right: 50px solid #f1f1f1;
  border-bottom: 50px solid transparent;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}

.action-content-wrapper {
  background: #F1F1F1;
  float: left;
  height: 400px;
  padding: 0;
  position: relative;
  left: 33.333%;
  margin: 0;
}

.action-content {
  display: none;
  height: 100%;
  float: left;
}

.border-bottom {
  display: block;
  float: left;
  padding: 0 25px;
  position: relative;
  height: 100px;
}

.quicklink {
  border-bottom: 1px dotted #CAD1D3;
  display: table;
  height: 100%;
  margin: 0;
  padding: 0 20px;
  width: 100%;
}

.noborder {
  border-bottom: 0;
}

.quicklink a {
  display: table-cell;
  vertical-align: middle;
}

.border-bottom:hover {
  background: #f2a930;
}

.border-bottom.left:hover:before {
  content: " ";
  border-top: 50px solid transparent;
  border-right: 50px solid #f2a930;
  border-bottom: 50px solid transparent;
  height: 0;
  position: absolute;
  left: -50px;
  
  width: 0;
}

.quicklink:hover a {
  color: #fff;
  text-decoration: none;
}

.action-content.form {
  padding: 20px 40px;
  height: 100%;
}

.action-content h3 {
  color: #1a9ce1;
  margin: 0;
}

.action-content.form p {
  font-size: 16px;
  margin: 15px 0 20px;
}

.action-content .input-wrapper {
  margin: 15px 0 0;
}

.shown {
  display: block;
}


/*---- Services and Info ----*/
.services-info {
  background: #5A91C2;
}

.services-info a {
  color: #000;
}

.services-info a:hover {
  text-decoration: none;
}

.services-info figure {
  background: #fff;
  position: relative;
}

.services-info img {
  width: 100%;
}

.services-info figcaption {
  height: 60px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

.services-info p { 
  font-size: 14px;
  margin: 0;
  text-transform: none;
}

.services-info h3 { 
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  position: absolute;
  top: 50px;
  text-align: center;
  text-transform: uppercase;
}



/*---- Social Media ----*/
.download-app {
  text-align: center;
}

.download-app h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
}

.download-app .section-wrapper {
  border-bottom: 2px solid #CAD1D3;
  border-top: 2px solid #CAD1D3;
  padding: 40px 0;
}

.media-wrapper {
  border: 2px solid #A6AAA9;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  color: #838588;
  font-size: 24px;
  float: left;
  height: 80px;
  margin: 0 5%;
  padding: 5px 0;
}

.media-wrapper:hover {
  background: #d3e9fa;
  text-decoration: none;
}

.media-wrapper img {
  max-height: 100%;
  max-width: 100%;
}

.media-wrapper p {
  display: inline-block;
  line-height: 70px;
  margin: 0;
  padding-left: 5px;
  vertical-align: top;
}

.social-media {
  background: #d3e9fa;
  text-align: center; 
  padding-bottom: 40px;
}

.tweet-wrapper {
  display: block;
  margin: 15px auto;
  position: relative;
  text-align: left; 
}



/*---------- Tracking Page Stylings ----------*/
.tracking-content {
  padding: 20px 0;
}

.tracking-content li {
  float: none;
}

.tracking-content h2{
  font-size: 20px;
}

.tracking-content .variable-info {
  color: #53585f;
  font-size: 18px;
  font-weight: bold;
  padding-left: 15px;
  text-transform: none;
}

.my-info { margin-bottom: 40px; }

.note {
  font-style: italic;
}


/*---------- Services and Info Page Stylings ----------*/
.services-content {
  background: #fff;
  display: inline-block;
  width: 100%;
}

.services-content .table-of-contents {
  border: 2px solid #ebebeb;
  padding: 10px;
}

.services-content .table-of-contents li {
  float: none;
  padding-left: 10px;
}

.services-content .table-of-contents li li {
  font-size: 16px;
  margin-left: 10px;
  position: relative;
}

.services-content .table-of-contents li li:before {
  content: " - ";
  position: absolute;
  left: 0;
}

.service-section .links li {
  float: none;
}

.services-info.all-text {
  background: #CFE9FB;
  padding-bottom: 40px;
}

.services-info.all-text h3 {
  border-top: 1px dotted #CAD1D3;
  color: #525860;
  margin: 0;
  padding: 20px 0;
  position: relative;
  top: 0;
  text-align: left;
  text-shadow: none;
}

.services-info.all-text li:nth-child(-n+3) h3 {
  border: none;
}

.services-info.all-text li {
  margin: 0;
  padding: 0 20px;
  height: 70px;
}

.services-info.all-text li:hover a {
  color: #1a9ce1;
}

.service-section {
  margin-top: 50px;
}

.service-section:first-child {
  margin-top: 0px;
}

.service-section h2{
  margin: 0 0 15px;
}

.service-section h3{
  color: #063D78;
  font-weight: 600;
  text-transform: none;
}

.service-section p{
  margin-top: 5px;
}

.services-details {

  margin-bottom: 30px;
  padding-left: 20px;
}

.links {
  margin-bottom: 40px;
}

.links li{
  margin: 5px 0px;
  line-height: 1.2;
}


/*---------- Services form Stylings ----------*/

.main-form {
  margin: 40px auto;
}

.main-form .form-label {
  float: left;
}

.main-form input[type="text"],
.main-form input[type="email"],
.main-form input[type="tel"] {
  width: 75%;
}

.main-form select { margin-left: 10px;}

.main-form input[type="submit"] {
  float: none;
}

.main-form button[type="button"] { 
  float: none;
  padding: 0 20px;
  position: relative;
  width: auto;
}

.main-form legend.form-label {
  top: 0;
  line-height: 70px;
}

.main-form .preview-wrapper {
  border: 1px dashed #DDDFDE;
  display: block;
  margin: 15px 0;
  height: 200px;
  width: 400px;
}

.main-form img {
  max-height: 100%;
  max-width: 100%;
}

.personal-info fieldset {
  padding-bottom: 40px;
}

.personal-info legend {
  cursor: pointer;
  display: block;
  font-weight: 600;
  top: 24px;
  position: relative;
}

.personal-info .form-label {
  background: #CFE9FB;
  height: 50px;
  line-height: 50px;
  margin: 10px 0;
  padding: 0 10px;
  text-align: right;
  width: 10%;
}

.personal-info input[type="text"],
.personal-info input[type="email"],
.personal-info input[type="tel"] {
  float: left;
  width: 50%;
}

.report {
  margin-top: 20px; 
}

.report .form-label.upload {
  float: none;
  position: relative;
  margin-bottom: 10px;
}


.main-form fieldset.radios .form-label {
  float: none;
  line-height: 1;
  position: relative;
  top: 20px;
}

fieldset.input-wrapper {
  margin: 40px 0;
}

fieldset.input-wrapper .option {
  color: #1a9ce1;
  font-size: 24px;
}

fieldset.input-wrapper input[type="submit"] {
  float: none;
}

.or-wrapper {
  display: inline-block;
  height: 38px;
  margin: 20px 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.horizontal-line {
  display: block;
  position: absolute;
  top: 12px;
  width: 100%;
  z-index: -1;
}

.or-wrapper h2 {
  background: #fff;
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center; 
  width:50px;
}

.dob { padding: 0 !important; }

.dob .form-label { 
  position: relative;
  top: 20px; 
}

.dob input[type="text"] {
  width: 100px;
}

.dob h3 { display: inline-block; line-height: 100px}

/*---------- Footer Stylings ----------*/
.footer {
  background: #063d78;
  border-top: 7px solid #f2a930;
  color: #fff;
  font-weight: 300;
  padding: 20px 0 0;
}

.up-wrapper {
  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #525860;
  cursor: pointer;
  display: block;
  height: 60px;
  margin: -50px auto 0;
  padding:5px 0;
  position: relative; 
  text-align: center;
  width: 60px;
}

.icon-arrow-up {
  display: block;
  margin: 5px 0 0;
}

.up-wrapper a {
  border-bottom: none !important;
  color: #525860 !important;
  display: block;
}

.up-wrapper:hover {
  background: #f2a930; 
}

.up-wrapper:hover,
.up-wrapper:hover a {
  color: #fff !important;
  text-decoration: none;
}

.footer .section-wrapper { 
  margin-top: 0;
  padding: 40px 0 10px; 
}

.footer a {
  border-bottom: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}

.footer a:hover {
  color: #1a9ce1;
  border-bottom-color: #1a9ce1;
  text-decoration: none;
}

.footer p {
  margin: 5px 0;
}

.footer-section {
  margin-bottom: 30px;
}

.cityofboston { float: right; }

.label {
  text-transform: uppercase;
  font-weight: 600;
}

.bottom-footer .section-wrapper{
  border-top: 1px solid #41648C;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 0;
  width: 100%;
}



/*---------- Footer Stylings ----------*/
@media only screen and (max-width: 750px) {
  * {
    float: none;
  }

  .span-one-of-five { width: 50%; }

  .span-two-of-five { width: 100%; }

  .span-three-of-five { width: 100%; }

  .span-four-of-five { width: 100%; }

  .span-five-of-five { width: 100%; }

  .half { width: 100%; }

  .one-third { width: 100%; }

  .two-thirds { width: 100%; }

  .top-header {
    height: auto;
  }

  .short .main-nav,
  .main-nav {
    font-size: 16px;
    top: auto;
    position: relative;
    right: auto;
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: justify;
  }

  .short .form-wrapper {
    display: block;
    width: 100%;
  }

  .section-wrapper {
    display: inline-block;
  }
  
  .action-nav > li {
    background: #d3e9fa;
    border-top: 1px solid #CAD1D3;
    width: 100%;
    display: inline-block;
  }

  .action-item:after {
    content: "+";
    border: none;
    float: right;
    font-size: 34px;
    padding: 0 10px;
    position: relative;
    right: 0;
    top: 0;
    width: auto;
  }

  .action-item {
    float: none;
    position: relative;
    width: 100%;
    display: block;
    top: 0 !important;
  }


  .action-content-wrapper {
    float: none;
    display: inline-block;
    left: 0;
    height: 100%;
  }

  .actions-wrapper {
    background: #F1F1F1;
  }

  .shown { 
    display: block;
  }

  .action-item.selected:after {
    content: "-";
    border: none;
    float: right;
    font-size: 34px;
    padding: 0 10px;
    position: relative;
    right: 5px;  
    top: 0;
    width: auto;
  }

  .action-item.selected:after,
  .border-bottom.left:hover:before {
    border: none;
  }
}

.media-wrapper {
  margin: 10px 0;
}

.footer {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center; 
}

.section-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.form .select-wrapper {
  width: 100%;
  margin: 0;
}

.main-form input[type="text"], 
.main-form input[type="email"], 
.main-form input[type="tel"],
.form textarea {
  width: 100%;
  max-width: 100%;
}

.personal-info .form-label {
  width: 20%;
}

.personal-info input[type="text"], 
.personal-info input[type="email"], 
.personal-info input[type="tel"] {
  width: 60%;
}

.cityofboston {
  display: inline-block;
  float: none;
  margin-bottom: 20px;
}

.table-of-contents {
  width: 100%;
}


