/*---------- General Styling ----------*/
* {
-webkit-box-sizing: border-box; 
 -moz-box-sizing: border-box; 
      box-sizing: border-box;

}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: auto;
  position: relative;
  width: 100%;
}

header {
  margin: 0;
  padding: 0;
}

img {
}

figure {
  margin: 0;
  padding: 0;
}

.hidden {
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: -9999px;
}




/*---------- Typography ----------*/
h1 {
  font-size: 34px;
}

h2 {
  font-size: 32px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 1em;
  margin-top: 1em;
}

p:first-child {
  margin-top: 0;
}

a {
  color: #279EDE;
  line-height: 1;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #279EDE;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
  float: left;
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
}




/*---------- Grid/Layout ----------*/
.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  *zoom: 1;
}

.col {
  display: block;
  float:left;
  margin: 1% 0;
  padding: 0 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


.span-one-of-five { width: 20%; }

.span-two-of-five { width: 40%; }

.span-three-of-five { width: 60%; }

.span-four-of-five { width: 80%; }

.span-five-of-five { width: 100%; }

.half { width: 50%; }

.one-third { width: 33.333%; }

.two-thirds { width: 66.667%; }




/*---------- Form Elements ----------*/
.form {
  position: relative;
}

.form fieldset {
  border: none;
}

.form input {

}

.form label {
  cursor: pointer;
  display: block;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="email"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: inset 0 2px 3px -2px #F1F1F1;
          box-shadow: inset 0 2px 3px -2px #F1F1F1;
  border: none;
  height: 50px;
  padding: 0 10px;
  width: 80%;
  margin-bottom: 10px;
}

.form input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  background: #F1A742;
  border: none;
  color: #fff;
  height: 50px;
  text-transform: uppercase;
  width: 160px;
}

.form input[type="submit"]:hover {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  border: 1px solid #F1A742;
  color: #F1A742;
  height: 50px;
  text-transform: uppercase;
  width: 160px;
}




/*---------- Main Page Stylings ----------*/
.top-header {
  height: 15%;
  padding: 30px 20px 20px;
  position: relative;
  margin: auto;
  max-width: 1000px;
  min-height: 150px;
}

.boston_seal {
  display: block;
}

.boston_seal:hover {
  border-bottom: none;
}

.main-nav { 
  font-size: 24px;
  position: absolute;
  top: 80px;
  right: 40px;
  text-transform: uppercase;
}

.head-content {
  height: 100%;
  overflow: hidden;
}

.home {
  background: url('/images/Boston-skyline.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 85%;
  min-height: 330px;
  position: relative;
}

.header-wrapper {
  opacity: .8;
  margin: auto;
  max-width: 1000px;
  padding: 50px;
  position: relative;
}

.content-header {
  background: #F0F9FE;
  height: 100%;
}

.content-header h1,
.content-header h3,
.content-header .form {
  background: #fff;
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  width: auto;
}

.content-header .form label {
  padding-right: 10px;
}

.content-header .form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-bottom: 1px solid #000;
}

.top-actions {
  background: #FFFFFF;
  display: block;
  margin: auto;
  max-width: 1000px;
  padding: 10px 25px;
  position: relative;
}

.top-actions h2 {
  color: #0C3F76;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.action-nav {
  background: #F0F9FE;
  height: 400px;
  padding: 0;
  position: relative;
}

.action-item {
  border-top: 1px solid #CAD1D3;
  cursor: pointer;
  float: none;
  height: 100px;
  margin: 0 25px 0 0;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
  line-height: 100px;
  width: 100%;
}

.action-item:first-child {
  border-top: 0;
}

.action-item:hover {
  color: #279EDE;
}

.action-item.selected {
  background: #279EDE;
  border-left: none;
  color: #fff;
}

.action-item.selected:after {
  content: " ";
  border-top: 50px solid transparent;
  border-right: 50px solid #f1f1f1;
  border-bottom: 50px solid transparent;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}

.action-content-wrapper {
  background: #F1F1F1;
  height: 400px;
  padding: 0;
}

.action-content {
  display: none;
  height: 100%;
}

.border-bottom {
  display: block;
  float: left;
  padding: 0 25px;
  height: 100px;
}

.quicklink {
  border-bottom: 1px solid #CAD1D3;
  display: table;
  height: 100%;
  margin: 0;
  padding: 0 20px;
  width: 100%;
}

.noborder {
  border-bottom: 0;
}

.quicklink a {
  display: table-cell;
  vertical-align: middle;
}

.border-bottom:hover{
  background: #F1A742;
}

.quicklink:hover a {
  color: #fff;
  border-bottom: 0;
}

.action-content .form {
  padding: 50px;
  height: 100%;
}

.action-content .form input[type="submit"] {
  bottom: 50px;
  position: absolute;
}

.action-content .input-wrapper {
  margin-bottom: 20px;
}

.shown {
  display: block;
}

.social-media {
  background: yellowgreen;
  min-height: 150px;
}

.services-info {
  background: yellowgreen;
}

.services-info a {
  color: #000;
}

.services-info a:hover {
  text-decoration: none;
}

.services-info figure {
  height: 200px;
}

.services-info img {
  height: 50%;
  width: 100%;
}

.services-info figcaption {
  height: 50%;
  overflow: hidden;
  width: 100%;
}

.services-info p,
.services-info h3 { margin: 0;}

.footer p {
  margin-top: 0;
}

/*---------- Tracking Page Stylings ----------*/
.tracking-content li {
  float: none;
}

.tracking-content .variable-info {
  font-weight: normal;
}

/*---------- Services and Info Page Stylings ----------*/
.services-content .table-of-contents li {
  float: none;
}

.services-content .table-of-contents li ul {
  margin-left: 10px;
}

.service-section .links li {
  float: none;
}


